/*Colores*/
:root {
    --white: #ffffff;
    --primary: #414042;
    --secondary: #e8a778;
  }

/*Color de fondo*/
body{
    background-color: var(--secondary);
}

/*Imagen Logo Principal*/

.img_principal{
    height: 15em;
    width: 100%;
}

.img_principal img{
    height: 15em;
    width: 100%;
}
@media (min-width: 768px) {

    .img_principal{
        height: 15em;
        width: 100%;
    }
    .img_principal img{
        height: 15em;
        width: 100%;
    }
    
  }

/*Menu*/

.header{
    
    background-color: var(--primary);
    width: 100%;
}
.header nav {
    padding: 1em 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px) {
    .header nav {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .header nav a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.4em;
    margin-bottom: 2em;
  }
  .header nav a:last-of-type {
    margin-bottom: 0;
  }
  @media (min-width: 768px) {
    .header nav a {
      margin-bottom: 0;
      flex-direction: column;
    }
  }
  .header nav a:hover{
    color: var(--primary);
    background-color: var(--secondary);
    
  }

body{
    background-color: var(--secondary);
}
/*body{
    background-image: linear-gradient(to bottom, rgb(0, 199, 0), yellow);
}*/

.bar{
    background-color: #6fa02f;
    overflow: hidden;
    margin-top: 1em;
}


.main-nav a:hover {
    background-color: #efff0a;
}

.main-nav a{
    color: #ffffff; /*Color para el tipo de letra*/ 
    text-decoration: none; /*ejemplos: none, normal(bajo pero para enlaces), overline(sobre la linea), underline (bajo la linea de texto),line-through(enmedio del texto) */
    font-size: 2.0em; /*tamaño de la letra, longitudes relativas*/
    padding: 1.25em; /*Espacio entre cada una de las letras que se encuentran en el menu*/
    text-align: center; /*donde se colocara el texto*/
    display: ruby; /*centra el contenido*/
    margin-left: 20px;
}

